extends layout.pug
block content
    div.mainContent
        div.progressSpacer
        div.progress
            div.progress__header Pages
            a(href="stock.html") 
                div.progress__section
                    div.progress__section__title stock
                    div.progress__section__link stock.html  
                    div.progress__section__status
                        i.material-icons.progress__section__icon build