doctype html  
html(lang='en')  
    head
        title Investor
        meta(charset="UTF-8")  
        meta(name="viewport" content="width=device-width, initial-scale=1.0")  
        meta(http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1")
        link(rel="stylesheet" type="text/css" href="styles/main.css")
        link(rel="icon" href="assets/favicon.ico")
body
    div.mainContent
        #header
            //include components/banner/banner.pug
            include components/tab/tab.pug
            include components/header/header.pug
        #content 
            block content
        //- #footer
script(src="js/libraries.js")
script(src="js/components.js")
block scripts