extends ../../layout.pug 
block scripts 
	script(src="/js/stock.js") 
block content 
	div.stock
		div.stock__background
			include ./../../components/header/header.pug
			p.stock__headline stock
				ul.tags
					li.tag Preffered stock 
					li.tag Common stock

			div.stock__compare
				div.stock__portfolio
				div.stock__preferred
				div.stock__common
		

