.stock{
  display:block;
    &__headline{
        @extend .f-header;
        margin: 25px;
        float:left;

    }
    &__chart{
      background:lightcoral;
      width:30%;
      height:500px;
      @include border-radius(6px);
    }
    .search{
      line-height: 26px;
       color:#D3D3D3;
        border:1px solid #D3D3D3;
        @include border-radius(6px);
        font-size:15px;
    }

    .searchIcon {
      cursor:pointer;
      position: relative;
      width:50px;
      margin: 0 auto;
      padding: 50px 0;
      text-align: center;
  
    
      &__circle {
        display:inline-block;
   
        width: 30px;
        height: 30px;
        border: 4px solid grey;
        border-radius: 100px;
      }
    
      &__rectangle {
        position: absolute;
        right: -4px;
        bottom: 45px;
        width: 15px;
        transform: rotate(52deg);
        border: 4px solid grey;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
      &__thread{
       
      }
      &__table{
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
      }
     
      &:hover, &:focus{
          background-color:$primary;
          color:white;
      }

    }
    .tags {
        list-style: none;
        margin-left: 20px;
        overflow: hidden; 
        padding: 0;
      }
      
      .tags li {
        float: left; 
      }
      
      .tag {
        background: #eee;
        border-radius: 3px 0 0 3px;
        color: #999;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin: 0 10px 10px 0;
        text-decoration: none;
        -webkit-transition: color 0.2s;
      }
      
      .tag::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
      }
      
      .tag::after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #eee;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .tag:hover {
        background-color: crimson;
        color: white;
        cursor:pointer;
      }
      
      .tag:hover::after {
         border-left-color: crimson; 
      }
   
  
}