@charset "UTF-8";
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./../assets/fonts/OpenSans-Regular.eot');
    src: url('./../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('./../assets/fonts/OpenSans-Regular.woff') format('woff'),
        url('./../assets/fonts/OpenSans-Regular.ttf') format('truetype'),
        url('./../assets/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
        url('./../assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./../assets/fonts/OpenSans-Bold.eot');
    src: url('./../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('./../assets/fonts/OpenSans-Bold.woff') format('woff'),
        url('./../assets/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('./../assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
        url('./../assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
.f-menu{
    font-family: Microsoft YaHei,STHeiti,'OpenSans-Regular',serif;
    font-size: 19px;
    color: #fff;
    font-weight:400;
    @media (max-width:  $break-580) {
        font-size: 15px;
    }
} 
.f-title{
    font-family:Microsoft YaHei,STHeiti,OpenSans-Regular,serif;
    font-size: 30px;
    color: $primary;
    @media (max-width:  $break-580) {
        font-size: 25px;
    }
}
.f-header{
    font-family:Microsoft YaHei,STHeiti,OpenSans-Regular,serif;
    font-size: 14px;
    color:white;
    font-weight:500;
    letter-spacing:0.7px;
    @media (max-width:  $break-580) {
        font-size: 12px;
    }
}
.f-input {
    font-family: Microsoft YaHei,STHeiti,'OpenSans-Regular',serif;
    font-size: 14px;
    color: $primary;
    @media (max-width:  $break-580) {
        font-size: 12px;
    }
}
.f-list {
    font-family: Microsoft YaHei,STHeiti,'OpenSans-Regular',serif;
    font-size: 14px;
    color: black;
    @media (max-width:  $break-580) {
        font-size: 12px;
    }
}
.f-button {
    font-family: Microsoft YaHei,STHeiti,'OpenSans-Regular',serif;
    font-size: 14px;
    color: white;
    letter-spacing:1px;
    @media (max-width:  $break-580) {
        font-size: 13px;
    }
}
.f-paragraph {
    font-family: Microsoft YaHei,STHeiti,'OpenSans-Regular',serif;
    font-size: 13px;
    color: $primary;
    font-weight: 500;
    @media (max-width:  $break-580) {
        font-size: 10px;
    }
}
.f-error{
    font-family: Microsoft YaHei,STHeiti,'OpenSans-Bold',serif;
    font-size: 80px;
    color: $primary;
    @media (max-width:  $break-580) {
        font-size: 50px;
    }
}
.f-text{
    font-family: Microsoft YaHei,STHeiti,'OpenSans-Regular',serif;
    font-size: 20px;
    color: $primary;
    @media (max-width:  $break-580) {
        font-size: 18px;
    }
}
.f-next{
    letter-spacing:2px;
    padding:6px 90px;
    font-size:16px;
    color:#606060;
    font-family: Microsoft YaHei,STHeiti,'OpenSans-Bold',serif;
    @media (max-width:  $break-580) {
        font-size: 14px;
    }
} 

.f-stores{
    font-size:14px;
    color:	$secondary;
    font-family: Microsoft YaHei,STHeiti,'OpenSans-Bold',serif;
    cursor:pointer;  
}
.f-terms{
    color: #ADD8E6;
    font-size:18px;
    font-family: system-ui; 
    text-decoration: underline;
  
} 