.header{
   
    position:absolute;
    top:0;
    right:0;
    width:100%;
    display:block;
    background:grey;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left:10px;
    max-width:180px;
    height:90px;
    @media (max-width:  $break-580) {
        margin-top:40px;
        max-width:100px;
        max-height:70px;
}

    &__container{
        padding-left:10px;
        padding-bottom:13px;
    }

    &__tag{
    text-decoration: underline;
    height:20px;
    padding-top:11px;
    @extend .f-button;
    color:white;
    &:hover, &:focus{
        cursor:pointer;
        color:black;
      }

    }
}